#section-about{
    display: flex;
    width: 65.83vw;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;


}
#section-about > div{
    padding: 1rem;
    background-color: #9e4aec;
    border-radius: 2rem;
}



