#section-contact{
    display: flex;
    width: 65.83vw;
    flex-direction: column;
    justify-content: center;
    

}
#section-contact > div{
    padding: 0.5rem;

background-color:#9e4aec ;
border-radius: 1rem;
margin: 0.5rem;


}
#section-contact > div > p > a{
    text-decoration: underline;
    font-size: 1.5rem;
    color: #FFFFFF;
    &:hover {
        color: #ffd700;
    }
    
} 
.div-img{
    
    display: flex;
    justify-content: space-evenly;
    border-radius: 1rem;


}


