header{
    width: calc(65.83vw + 4rem);
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #9c49e9;
    border-radius: 2rem;
    position: fixed;
    top: 0;
    z-index: 2;
    
   
    
}
header > img{
    height: 10vh;
    border-radius: 2rem 0 0 2rem;


}
header > nav{
    width: 90vw;

}

header > nav > ul{
    display: flex;
    justify-content: space-evenly;

}
header > nav > ul > li {
    list-style-type: none;
    text-decoration: none;
    font-size: 2.5rem;
    color: #FFFFFF;
    font-family: "Merriweather Sans", sans-serif;
    
}
header > nav > ul > li > a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFFFF;
    &:hover {
        color: #ffd700;
    }
}
/* header > nav > ul > li > a:hover{
    color: yellow;
    
    
} */