*{
  margin: 0;
  padding: 0;
  
}

.button-default{
    margin: auto;
    padding: 3rem;
    background-color: #ff1493;
    border-radius: 1.5rem;
    border: none;
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    width: 30.91rem;
 
}
.h2-default{
  font-size: 4.4rem;
    color: #ffd700;
    text-shadow: 1px 2px 1px black;
}
.p-default{
  font-size: 2rem;
    color: white;
    text-shadow: 1px 2px 1px black;
}